extends layout

block content
  div(style='padding:0px 40px; margin: 0px auto; max-width: 1200px; height:calc(100vh - 80px - 30px - 50px)') 
    //- h1= message
    //- h2= error.status
    h1 Something wrong, please try later
  //- pre #{error.stack}
