extends layout

block content
  div(style='display: flex; justify-content: space-between; margin: 0px auto; max-width: 1200px')
    //- div(style='display: flex; flex-direction:column; font-size: 30px; margin: 0px 20px') 
    //-   p 唯恐天下不亂的台灣媒體
    //-   p 看看誰在帶風向
    //-   p 丞相 起風了
    div(style=' margin: 0px auto')
      img(id='home_pic' src="/images/home2.jpg", alt="homepage")
      p(style='text-align: center') Photo by davide ragusa on Unsplash