extends layout

block content
  div(style='display: flex; justify-content: space-between; margin: 0px auto; max-width: 1200px')
    div(style=' margin: 0px auto; height: calc(100vh - 80px - 30px - 32px)')
      img(id='home_pic' src="/images/home5.jpg", alt="homepage")
      p(style='text-align: center') Photo by davide ragusa on Unsplash
      //- “Believe nothing until it has been officially denied.” ― Claud Cockburn