extends layout

block content
  div(class='title')
    h1(id='title') 報社比一比
  form
    div(class='input')
      div(style='display:flex;font-size:20px;margin-left:20px;') 關鍵字 :
        input(type="text" id='input' name='input' placeholder='輸入多個關鍵字請空格，例如 : 韓國瑜 火鍋' required)
      div(id='date_input')
        div(id='start_date_div') 查詢區間 :
          input(type="date" id='start_date' name='start' required)
          p(style='margin:0px 10px 0px 0px;') ~
          input(type="date" id='end_date' name='end'  required)
    div(style='color: red; width:54%; margin: 10px auto; font-size: 16px; text-align: center') * 查詢區間須小於六個月  
    button(type='button' id='search' onclick='searchMedia(this.form)') 搜尋