extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
  script(src="/javascripts/mediaSearch.js")
  script(src="/javascripts/createTable_func.js")

  div(id='hr')
  form(class='media_research')
    div(class='input')
      div(class='media_keyword') 
        div 關鍵字 :
        input(type="text" id='input' name='input' placeholder='輸入多個關鍵字請空格，例如 : 韓國瑜 火鍋' required)
      div(id='date_input')
        div(id='media_start_date_div') 搜尋日期 :
          input(type="date" id='start_date' name='start' required)
          p ~
          input(type="date" id='end_date' name='end'  required)
    //- div(style='color: red; width:54%; margin: 10px auto; font-size: 16px; text-align: center') * 查詢區間須小於六個月 
    button(type='button' id='search' onclick='searchMedia()') 重新搜尋  
  div(id='media_loader_div')
    div(id='loader')
  div(id='content')
