extends layout

block content
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js")
    script(src="/javascripts/mediaSearch.js")
    div(id='hr')
    div(id='loader')