extends layout

block content
  div(class='news_title')
    h1(id='news_title') 新聞比一比
  form(action='./news' method='post')
    div(class='input')
      div(class='news_keyword') 關鍵字 :
        input(type="text" id='input' name='input' placeholder='輸入多個關鍵字請空格，例如 : 韓國瑜 火鍋' required)
      div(id='news_date_input')
        div(id='news_start_date_div') 查詢區間 :
          input(type="date" id='start_date' name='start' required)
          p ~
          input(type="date" id='end_date' name='end'  required)
    div(class='news_searchtime') * 查詢區間須小於三個月 
    button(type='button' id='search' onclick='searchNews()') 搜尋
    
