extends layout

block content
  div(class='title')
    h1(id='title') 記者比一比
  form
    div(class='input')
      div(id='reporter_media')
        div(style='display: flex')
          div(id='one_reporter_media')
            div(id='media') 報社 - 記者 :
            input(id='media1' type='text' placeholder='報社一')
            p(style='margin:0px;color:gray') -
            input(id='reporter1' type='text' placeholder='記者一')
            p(style='margin:0px') |
            input(id='media2' type='text' placeholder='報社二')
            p(style='margin:0px; color:gray') -
            input(id='reporter2' type='text' placeholder='記者二')
        //- div(style='display: flex')  
        //-   div(id='one_reporter_media')
        //-     div(id='media' style='color:white;') 報社 - 記者 :    
        //-     input(id='media2' type='text' placeholder='報社二')
        //-     p(style='margin:0px; color:gray') -
        //-     input(id='reporter2' type='text' placeholder='記者二')
      div(style='display:flex;font-size:20px;margin-left:20px;') 關鍵字 :
        input(type="text" id='input' name='input' placeholder='請輸入關鍵字' required)
      //- img(src='/images/search.png')
      div(id='date_input')
        div(id='start_date_div') 搜尋日期 :
          input(type="date" id='start_date' name='start' required)
          p(style='margin:0px 10px 0px 0px;') ~
          input(type="date" id='end_date' name='end'  required) 
    button(type='button' class='search' onclick='searchReporter(this.form)') 搜尋
  script(src="/javascripts/function.js")