extends layout

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
  script(src="/javascripts/reporterSearch.js")
  script(src="/javascripts/createTable_func.js")
  div(id='hr')
  form(class='reporter_research')
    div(class='input')
      div(id='reporter_media')
        div(style='display: flex')
          div(id='research_one_reporter_media')
            div(id='research_media') 報社 - 記者 :
            select(id='selectMedia1' onchange='change("selectMedia1","selectReporter1")')
              option(value='cna' selected) 中央社
              option(value='chtimes') 中時電子報
              option(value='ltn') 自由電子報
            select(id='selectReporter1')
            p VS 
            select(id='selectMedia2' onchange='change("selectMedia2","selectReporter2")')
              option(value='cna') 中央社
              option(value='chtimes' selected) 中時電子報
              option(value='ltn') 自由電子報
            select(id='selectReporter2') 
      div(id='reporter_keyword_div') 
        div 關鍵字 :
        input(type="text" id='input' name='input' placeholder='輸入多個關鍵字請空格' required)
      div(id='date_input')
        div(id='research_reporter_start_date_div') 
          div(style='') 查詢區間 :
          input(type="date" id='start_date' name='start' required)
          p ~
          input(type="date" id='end_date' name='end'  required)
    //- div(style='color: red; width:54%; margin: 10px auto; font-size: 16px; text-align: center') * 查詢區間須小於六個月  
    button(type='button' id='search' onclick='searchReporter()') 重新搜尋 
  div(id='reporter_loader_div')
    div(id='loader')
  div(id='content')