extends layout

block content
  div(class='reporter_title')
    h1(id='reporter_title') 記者比一比
  form
    div(class='input')
      div(id='reporter_media')
        div(style='display: flex')
          div(id='one_reporter_media')
            div(id='media') 報社 - 記者 :
            select(id='selectMedia1' onchange='change("selectMedia1","selectReporter1")')
              option(value='cna' selected) 中央社
              option(value='chtimes') 中時電子報
              option(value='ltn') 自由電子報
            select(id='selectReporter1')
            p(style='') VS 
            select(id='selectMedia2' onchange='change("selectMedia2","selectReporter2")')
              option(value='cna') 中央社
              option(value='chtimes' selected) 中時電子報
              option(value='ltn') 自由電子報
            select(id='selectReporter2') 
      div(class='reporter_keyword') 關鍵字 :
        input(type="text" id='input' name='input' placeholder='輸入多個關鍵字請空格，例如 : 韓國瑜 火鍋' required)
      div(id='reporter_date_input')
        div(id='reporter_start_date_div') 搜尋日期 :
          input(type="date" id='start_date' name='start' required)
          p ~
          input(type="date" id='end_date' name='end'  required)
    div(class='reporter_searchtime') * 查詢區間須小於六個月  
    button(type='button' id='search' onclick='searchReporter()') 搜尋 