body {
  padding: 20px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* 首頁、header 及 footer 開始*/
/* header 及 footer */
.header, .categories  {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}

.category{
  font-size: 16px;
  margin: 20px 0px 20px 20px;
  font-weight: 400;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  color: gray;
}

.category:hover {
  color: black;
  font-weight: bold;
}

.header {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  align-items: baseline;
  padding: 0px 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 50px;
}

/* 首頁圖片 */
#home_pic {
  height: calc(100vh - 80px - 30px - 75px); 
  padding: 0px 40px;
  max-width: 1200px;
  max-height: 530px;
}
/* 首頁、header 及 footer 結束*/
/* .member {
  font-size: 25px;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #003C9D;
  color: white;
  line-height: 50px;
  text-align: center;
} */
/* 搜尋頁面開始 */
.title {
  margin-top: 120px;
  text-align: center;
}

#title {
  font-size: 50px;
  color: black;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  width: 54%;
  max-width: 650px;
  border-style: solid;
  border-radius: 20px;
  border-color: gray;
  border-width: 2px;
}

#input {
  width: 80%;
  font-size: 20px;
  border-style: none;
  margin-left: 5px;
}
/* 搜尋日期 */
#date_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start_date_div, #end_date_div{
  display: flex;
  margin-left: 20px; 
  font-size: 20px;
}

#start_date,#end_date {
  font-size: 20px;
  border-style: none;
  margin-left: 5px;
}
/* 搜尋按鈕 */
#search {
  font-size: 1.5em;
  text-align: center;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  border-width: 2px;
  cursor: pointer;
}
/* 搜尋的 form 表單 */
form {
  height: calc(100vh - 28px  - 78px - 190px - 33.5px - 36px);
}
/* 搜尋頁面結束 */

.chart {
  margin-top: 20px;
}

#others {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.cat {
  font-weight: 900; 
  color: black;
  background-color: #D3D3D3;
}

.item {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

#keyword, #error,#start,#end, #reporter {
  width: 50vw;
  /* margin: 50px auto 50px; */
  margin: 0px auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.chtimes, .cna, .ltn {
width: 100%;
}

.chart-container {
  position: relative; 
  /* margin: 0px 50px 0px; */
}

.recommend {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  /* width: 80vw; */
  margin: 20px auto;
}

#reporter_media {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#reporter {
  width: 50vw;
  margin: 0px auto;
}

 .media {
  width: 30%;
  border-style: solid;
}

#one_reporter_media {
  margin-left: 20px;
  font-size: 20px;
  margin-right: 5px;
  display: flex;
}

/* loading pattern */
#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #45494b; /* Blue */
  /* border-top: 16px solid #3498db;  */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#instance {
  margin: 0px 20px;
}

li {
  line-height: 2em;
  font-size: 12px;
}

#newsTitle, #recommendTitle {
  margin: 0px auto;
}

#bigDiv {
  display: flex;
  position: relative; 
}

#bigRightDiv,#bigLeftDiv {
width: 50%;
position: relative; 
margin: 20px;
}

.scoreDiv, .magDiv {
  position: relative;
  width: 50%;
  margin: 0px 10px;
}

#selectMedia1, #selectMedia2, #selectReporter1, #selectReporter2 {
  width: 110px;
  height: 30px;
  margin:0px 5px;
  font-size: 15px;
}

.change {
  font-size: 1.5em;
  text-align: center;
  margin: 0px auto;
  width: 100px;
  /* background-color: orange; */
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

#changeTable {
  width: 8%;
  /* height: 20px; */
  display: flex;
  border-style: solid;
  border-radius: 5px;
  margin: 0px 0px 10px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#goTop a {
  text-decoration: none;
  color: black;
  width: 70px;
  /* height: 30px; */
  text-align: center;
  font-size: 14px;
  border-style: solid;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  right: 0.1%;
  bottom: 7%;
  line-height: 28px;
}

.re_research {
  display: flex;
  height: 80px;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0px auto;
}

.re_research .input{
  display: flex;
  width: 100%;
  max-width: unset;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-radius: 20px;
  border-color: gray;
  border-width: 2px;
  margin: 0px 10px;
}

#content {
  max-width: 1200px;
  margin: 0px auto;
}

/* 建立報社、記者新聞表開始 */
.newsTable {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.mediaTable, .reporterTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  margin: 0px auto 50px;
  width: 95%;
  
}

.mediaTableItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 建立報社、記者新聞表結束 */